body {
	background-color: #fff;
	color: #000;
	margin: 0 auto;
	padding: 0;
	font-family: Kozuka Gothic Pr6N;
}

a {
	color: #fff;
	text-decoration: none;
}

header {
	top: 0;
	width: 100%;
	height: 120px;
	background: #375060;
	position: fixed;
	z-index: 2;
}

.header-inner {
	font-family: 'Fredericka the Great', cursive;
	font-size: 30px;
	letter-spacing: 0.05em;
	padding: 40px 40px;
}

.nav-home {
	float: left;
}

.nav-list li {
	list-style: none;
	float: right;
	padding: 0 25px;
}

.nav-home,
.nav-list li {
	transition: all 0.5s ease-in-out;
}

.nav-home:hover,
.nav-list li:hover {
	transform: scale(1.25);
}

.home {
	height: 800px;
}

.logo {
	margin: 444px auto;
	width: 694px;
	height: 290px;
	animation-name: fadeDownAnime;
	animation-duration: 1.8s;
	animation-fill-mode: forwards;
	opacity: 0;
	transition-timing-function: ease-out;
}

@keyframes fadeDownAnime {
	from {
		opacity: 0;
		transform: translateY(-150px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.prf {
	width: 100%;
	height: 2100px;
}

.sidebox {
	width: 20vw;
	height: 1200px;
	background-color: #5f9f99;
	float: left;
	box-shadow: #375060 3px 0 10px;
	position: sticky;
	top: 100px;
}

.photo {
	margin-top: 150px;
	margin-left: 2.5vw;
}

.photo {
	width: 15vw;
	border-radius: 50%;
	background: #000;
	object-fit: contain;
	background-image: url("./image/eri face.jpg");
	background-size: 110%;
	background-position: 80% 30%;
}

.photo-in {
	position: relative;
	padding-top: 100%;
	height: 0;
}

#name {
	font: 40px Mayence Premium;
	color: #fff;
	margin-top: 20px;
	text-align: center;
	-webkit-text-stroke: 1px #fff;
}

.content {
	display: flex;
	flex-direction: column;
	background-color: #fff;
}

.content-1 {
	height: 200px;
	margin: 0 0 300px;
}

h1 {
	font: 80px Mayence Premium;
	color: #375060;
	margin-top: 80px;
	margin-bottom: 60px;
	text-align: center;
	-webkit-text-stroke: 1px #375060;
	display: block;
	padding-top: 200px;
	margin-top: -100px;
}


.about-text p {
	text-align: center;
	font-size: 18px;
	margin: 25px;
}

.circle {
	margin: 200px;
	text-align: center;

}

.circle2 {
	display: inline-block;
	width: 12px;
	height: 12px;
	border: 1px solid #999;
	border-radius: 50%;
}

.content-2 {
	margin: 10px 200px;
}

h5 {
	font-size: 1.1rem;
}

.skils {
	display: flex;
	align-items: stretch;
	justify-content: space-around;
	flex-wrap: wrap;
}

.skil {
	width: 12.5vw;
	height: 300px;
	margin: 20px 1.5vw;
	padding: 20px;
	text-align: center;
}

@media screen and (max-width: 1342px) {
	.content-2 {
		margin: 10px 160px;
	}

	.skil {
		width: 20vw;
		height: 200px;
		margin: 10px 0;
		padding: 0;
	}

	.comment {
		display: none;
	}
}

.skils img {
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
}

.wab {
	width: 15px;
}

.comment {
	margin: 20px auto;
	text-align: left;
}

.star5_rating {
	position: relative;
	z-index: 0;
	display: inline-block;
	white-space: nowrap;
	color: #CCCCCC;
}

.star5_rating:before,
.star5_rating:after {
	content: '★★★★★';
}

.star5_rating:after {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	overflow: hidden;
	white-space: nowrap;
	color: #375060;
}

.star5_rating[data-rate="5"]:after {
	width: 100%;
}

.star5_rating[data-rate="4.5"]:after {
	width: 90%;
}

.star5_rating[data-rate="4"]:after {
	width: 80%;
}

.star5_rating[data-rate="3.5"]:after {
	width: 70%;
}

.star5_rating[data-rate="3"]:after {
	width: 60%;
}

.work {
	padding: 120px;
}

.work img {
	width: 95%;
	margin: 0 auto;
}

/* .work img {
	object-fit: cover;
	border-radius: 5%;
	width: 100%;
	height: auto;
	object-fit: cover;
}

h2 {
	font: 2em sans-serif;
}

.container {
	display: grid;
	gap: 20px;
	grid-template-columns: 3fr 1fr 1fr 2fr;
	grid-template-rows: 4fr 2fr 1fr 2fr;
}
@media (max-width: 1000px) {
	.container {
		grid-template-columns: 1fr;
		grid-template-rows: auto;
	}

	#imag1,
	#imag2,
	#imag3,
	#imag4,
	#imag5,
	#imag6,
	#imag7 {
		grid-column: 1;
		grid-row: auto;
	}
}
#img1 {
	grid-column: 1 / 3;
	grid-row: 1;
}

#img2 {
	grid-column: 3 / 5;
}

#img3 {
	grid-row: 2 / 4;
}

#img4 {
	grid-column: 2 / 5;
}

#img5 {
	grid-column: 1 / 2;
}

#img6 {
	grid-column: 2 / 4;
	grid-row: 3 / 5;
}

#img7 {
	grid-column: 4 / 5;
	grid-row: 3 / 5;
}
 */

.form-outer {
	position: relative;
	margin: 0 auto;
	width: 800px;
	height: 900px;
	background: #5f9f99;
	border-radius: 30px;
	border-width: 72px 88px 160px;
	border-bottom: 10px solid #375060;

}

.form-inner {
	position: absolute;
	background: #f3f3f3;
	width: 600px;
	height: 700px;
	margin: 70px 100px;
	padding: 50px 110px;
	border-radius: 30px;
	box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.form-inner p {
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	line-height: 2;
	text-align: center;
	margin-bottom: 40px;
}

.textBox {
	width: 380px;
	border: none;
	font-size: 18px;
	padding-left: 10px;
	background: #fff;
	outline: none;
	box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.2);
}

#toi {
	margin-top: 5px;
}

.btn {
	font-size: 20px;
	font-weight: bold;
	position: relative;
	display: inline-block;
	padding: 0.8rem 4rem;
	top: 800px;
	left: 300px;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	letter-spacing: 0.1em;
	color: #212529;
	background: #fff;
	border-top: 0;
	border-left: 0;
	border-bottom: 5px solid #999;
	border-radius: 100vh;
}

.btn:hover {
	margin-top: 3px;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	border-bottom: 2px solid #999;
}

@media screen and (max-width: 999px) {
	.form-outer {
		width: 80vw;
	}

	.form-inner {
		width: 60vw;
		margin-left: 10vw;
		padding-left: 11vw;
	}

	.textBox {
		width: 38vw;
	}
	
	.btn {
		left: 29.1vw;
	}
}


.links ul {
	display: flex;
	justify-content: space-around;
	width: 50%;
	margin: 0 auto;
}

.links img {
	width: 100px;
	height: 100px;
	opacity: 0.1;
}

footer {
	position: relative;
	margin-top: 200px;
}

footer img {
	width: 100%;
}

footer p {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -70%);
	color: #5f9f99
}

.top-btn {
	position: absolute;
	top: 60%;
	left: 90vw;
}

.malu {
	width: 65px;
	background: #5f9f99;
	border-radius: 50%;
	box-shadow:1px 1px 4px rgba(0, 0, 0, 0.3);
}

.malu::before {
	display: block;
	content: '';
	padding-top: 100%;
}

.triangle,
.triangle::before,
.triangle::after{
  width: 25px;
  height: 25px;
  background: #fff;
}

.triangle::before,
.triangle::after {
  content: "";
  position: absolute;
}

.triangle {
  position: absolute;
  border-top-left-radius: 30%;
  transform: rotate(30deg) skewY(30deg) scaleX(.86666);
	top: 22%;
	left: 31%;
}

.triangle::before {
  border-top-right-radius: 30%;
  transform: skewX(-45deg) translateX(50%);
}

.triangle::after {
  border-bottom-left-radius: 30%;
  transform: skewY(-45deg) translateY(50%);
}